---
layout: archive
title: "Patents"
permalink: /patents/
author_profile: true
---

{% include base_path %}

## Granted
{% assign granted_list = site.patents | where_exp: "p", "p.granted" | sort: "granted" | reverse %}
{% for post in granted_list %}
  {% include archive-single-patent.html %}
{% endfor %}

## Published
{% assign published_list = site.patents | where_exp: "p", "p.granted == nil" | sort: "published" | reverse %}
{% for post in published_list %}
  {% include archive-single-patent.html %}
{% endfor %}
